name: Build Docs
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-20.04


    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Hello world
        run: echo 'hello world'